{% if settings.slide_text_1 != blank or settings.slide_text_2 != blank or settings.slide_text_3 != blank %}
   

<swiper-container class="drawer-accouncement">
    <div class="swiper-wrapper">
        {%- for i in (1..3) -%}
        {%- assign slide_text_id = 'slide_text_' | append: i -%}
        {%- assign slide_icon_id = 'slide_icon_' | append: i -%}
        {%- assign slide_bg_id = 'slide_bg_' | append: i -%}
        {%- assign slide_color_id = 'slide_color_' | append: i -%}

        {%- assign slide_text = settings[slide_text_id] -%}
        {%- assign slide_icon = settings[slide_icon_id] -%}
        {%- assign slide_bg = settings[slide_bg_id] -%}
        {%- assign slide_color = settings[slide_color_id] -%}

        <div class="swiper-slide" style="background-color: {{ slide_bg }}; color: {{ slide_color }};">
            {%- if slide_icon != blank -%}
                <img src="{{ slide_icon | img_url: '100x' }}" alt="{{ slide_icon.alt | escape }}" class="slide-icon">
            {%- endif -%}
            {%- if slide_text != blank -%}
                {{ slide_text }}
            {%- endif -%}
        </div>
        {%- endfor -%}
    </div>
    </swiper-container>

    <script>
    class SwiperContainer extends HTMLElement {
        constructor() {
        super();
        this.initSwiper();
        }

        initSwiper() {
        const swiper = new Swiper(this, {
        
            loop: true,
            slidesPerView: 1,
            spaceBetween: 10,
            speed:1000,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            {% if settings.drawer_announ_autoplay %}
             autoplay: {
                delay: {{settings.drawer_announ_autoplay_length | times: 1000}},
            },
            {% endif %}
            navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            },
        });
        }
    }

    customElements.define('swiper-container', SwiperContainer);
    </script>

{% endif %}