{{ 'featured-collection.css' | asset_url | stylesheet_tag }}
{{ 'product-grid.css' | asset_url | stylesheet_tag }}
{%- liquid
	assign section_heading = section.settings.heading
	assign section_heading_left = section.settings.heading_left
	assign section_description = section.settings.description
	assign full_width = section.settings.full_width
	assign display_type = section.settings.display_type
	assign columns_desktop = section.settings.columns_desktop
	assign featured_collection = section.settings.collection
	assign show_view_all = section.settings.show_view_all
	assign product_limit = section.settings.product_limit
	assign mobile_swipe = section.settings.mobile_swipe
	assign show_progress_bar = section.settings.show_progress_bar
	assign show_dots_setting = section.settings.show_dots
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing
	assign columns_class = 'small-6 medium-6 large-4'
	case columns_desktop
		when 2
			assign columns_class = 'small-6 medium-6'
		when 3
			assign columns_class = 'small-6 medium-4'
		when 4
			assign columns_class = 'small-6 medium-6 large-3'
	endcase

	if featured_collection.all_products_count > product_limit
    assign more_in_collection = true
  endif

	if show_view_all and more_in_collection
		assign section_heading_button = featured_collection
	endif

	if display_type == 'carousel'
		assign element = 'slide-show'
	else
		assign element = 'div'
	endif

	assign products_in_carousel = product_limit
	if featured_collection.products.size > 0
		assign products_in_carousel = featured_collection.products.size
	endif

	if products_in_carousel > product_limit
		assign products_in_carousel = product_limit
	endif

	assign show_dots = false
	assign dots_class = ''
	assign paged_class = ''
	if show_dots_setting and products_in_carousel > columns_desktop and display_type == 'carousel'
		assign show_dots = true
		assign dots_class = 'custom-dots'
		assign paged_class = 'paged'
	endif
	assign autoplay = section.settings.autoplay
	if autoplay
		assign autoplay = section.settings.autoplay_length | times: 1000
	endif
-%}

{% style %}
.section-{{section.id}} .products.custom-dots{
	position:relative;
	padding-bottom: 70px!important;
}
.section-{{section.id}} .products.custom-dots .flickity-page-dots{
    z-index: 9;
    position: absolute;
    bottom: 0;
    color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-{{section.id}} .flickity-page-dots .dot {
    flex-shrink: 0;
    margin: 0 20px;
    background: var(--color-text, var(--color-body));
}
.section-{{section.id}} .flickity-page-dots .dot .thb-pagination-svg circle {
    stroke: var(--color-text, var(--color-body));
}
{% endstyle %}
<div class="section-{{section.id}} featured-collection{% if mobile_swipe %} swipe-on-mobile{% endif %} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}">
	<div class="row{% if full_width %} full-width-row{% endif %}">
		<div class="small-12 columns">
			{% render 'section-header', section_heading: section_heading, section_description: section_description, section_heading_left: section_heading_left, section_heading_button: section_heading_button %}
			<div class="featured-collection__inner display-type--{{ display_type }}" style="--dot-speed: {{ autoplay | divided_by: 1000 | append: 's' }};">
				<{{ element }} id="product-grid-{{ section.id }}" class="products row {{ display_type }} {{ dots_class }} {{ paged_class }}" {% if display_type == 'carousel' %}data-dots="{{ show_dots }}"{% endif %} data-autoplay="{{ autoplay }}">
					{%- if featured_collection != blank -%}
						{%- for product in featured_collection.products limit: product_limit -%}
							<div class="{{ columns_class }} columns {% if display_type == 'carousel' %}carousel__slide{% endif %}">
								{% render 'product-card', product_card_product: product %}
							</div>
						{%- endfor -%}
					{%- else -%}
						{%- for i in (1..product_limit) -%}
						<div class="{{ columns_class }} columns {% if display_type == 'carousel' %}carousel__slide{% endif %}">
							{% render 'product-card' %}
						</div>
						{%- endfor -%}
					{%- endif -%}
					{%- if display_type == 'carousel' -%}
						{%- if product_limit > columns_desktop -%}
						{%- render 'slideshow-arrows' -%}
						{%- endif -%}
					{%- endif -%}
					{%- if show_dots -%}
						<ol class="flickity-page-dots">
							<template class="flickity-dot-svg-template">
								{%- render 'svg-icons' with 'thb-pagination-dot' -%}
							</template>
						</ol>
					{%- endif -%}
				</{{ element }}>

				{%- if display_type == 'carousel' and show_progress_bar -%}
				<div class="flickity-progress">
					<div class="flickity-progress--bar"></div>
				</div>
				{%- endif -%}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "class": "section-featured-collection",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured Collection"
    },
		{
			"type": "checkbox",
			"id": "heading_left",
			"default": false,
			"label": "Left align heading"
		},
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Describe your featured collection here</p>"
    },
		{
			"type": "checkbox",
			"id": "full_width",
			"label": "Make section full width",
			"default": true
		},
		{
			"type": "header",
			"content": "Collection"
		},
		{
		 "type": "collection",
		 "id": "collection",
		 "label": "Collection"
		},
		{
			"type": "select",
			"id": "display_type",
			"options": [
				{
					"value": "grid",
					"label": "Grid"
				},
				{
					"value": "carousel",
					"label": "Carousel"
				}
			],
			"default": "grid",
			"label": "Display type"
		},
		{
			"type": "range",
			"id": "product_limit",
			"min": 2,
			"max": 12,
			"step": 1,
			"label": "Maximum products to show",
			"default": 4
		},
		{
			"type": "range",
			"id": "columns_desktop",
			"min": 2,
			"max": 4,
			"step": 1,
			"default": 4,
			"label": "Number of columns on desktop"
		},
		{
			"type": "checkbox",
			"id": "show_view_all",
			"default": true,
			"label": "Enable \"View all\" button if collection has more products than shown"
		},
		{
			"type": "header",
			"content": "Grid"
		},
		{
			"type": "checkbox",
			"id": "mobile_swipe",
			"default": true,
			"label": "Enable swipe on mobile"
		},
		{
			"type": "header",
			"content": "Carousel"
		},
		{
			"type": "checkbox",
			"id": "show_progress_bar",
			"label": "Show progress bar",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_dots",
			"label": "Show dots",
			"default": true
		},
		{
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-rotate slides",
        "default": true
      },
			{
				"type": "range",
				"id": "autoplay_length",
				"min": 3,
				"max": 10,
				"step": 1,
				"unit": "s",
				"label": "Change slides every",
				"default": 5
			},
		{
      "type": "header",
      "content": "Spacing"
    },
		{
			"type": "checkbox",
			"id": "disable_top_spacing",
			"default": false,
			"label": "Remove top spacing"
		},
		{
			"type": "checkbox",
			"id": "disable_bottom_spacing",
			"default": false,
			"label": "Remove bottom spacing"
		}
  ],
  "presets": [
    {
      "name": "Featured collection"
    }
  ]
}

{% endschema %}