{% style %}
.image-bvanner-contain{

  position:relative;
}
  .image-bvanner-contain:after{
  display: block;
    content: "";
    padding-bottom: calc(100% /(var(--aspect-ratio)));
}
   .image-bvanner-contain img{
     position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;

    object-fit: cover;
   }
  .image-bvanner-contain .banner-image-mob{
    display:none;
  }
  .banner-text-wrp{
    position:absolute;
    left:20px;
    right:20px;
    top:20px;
    bottom:20px;
    text-align: center;
    display:flex;
  align-items:{{ section.settings.button_vertical }};
  justify-content:{{ section.settings.button_horizontal }};
  }

  @media(max-width:768px){
    {% if section.settings.mobile_image != blank %}
    .image-bvanner-contain .banner-image-desc{
      display:none;
    }
    .image-bvanner-contain .banner-image-mob{
      position:static;
    display:block;
  }
    .image-bvanner-contain:after{
      display:none;
    }
    {% endif %}
  }
  {% endstyle %}


  <div class="image-bvanner-contain" style="
              --aspect-ratio: 2.5;
              --image-align:center;
            ">
     {% if section.settings.image != blank %}
				{%- render 'responsive-image', image: section.settings.image, sizes: '375x0,640x0,960x0,1280x0,1920x0', class: 'banner-image-desc' -%}
     {% endif %}
    {% if section.settings.mobile_image != blank %}
    {%- render 'responsive-image', image: section.settings.mobile_image, sizes: '375x0,640x0', class: 'banner-image-mob' -%}
    {% endif %}
 {% if section.settings.button_text != blank %}
    <div class="banner-text-wrp">
     
          <a class="button white {% if section.settings.button_outline %}outline{% endif %}" href="{{ section.settings.button_link }}" role="button" title="{{ section.settings.button_text | escape }}"><span>{{ section.settings.button_text }}</span></a>
    
    </div>  {% endif %}
  </div>
{% schema %}
  {
    "name": "Image banner contain",
		"class": "section-banner-contain",
    "settings": [
            {
				"type": "checkbox",
				"id": "image_contain",
				"label": "Image contain",
              "default":false
			},
      {
				"type": "checkbox",
				"id": "button_outline",
				"label": "Button outline",
         "default":false
			},
      {
						"type": "select",
						"id": "button_horizontal",
						"options": [
							{
								"value": "start",
								"label": "Left"
							},
							{
								"value": "center",
								"label": "Center"
							},
							{
								"value": "end",
								"label": "Right"
							}
						],
						"default": "center",
						"label": "Button horizontal position"
					},
					{
						"type": "select",
						"id": "button_vertical",
						"options": [
              {
								"value": "start",
								"label": "Top"
							},
							{
								"value": "center",
								"label": "Center"
							},
							{
								"value": "end",
								"label": "Bottom"
							}
						],
						"default": "end",
						"label": "Button vertical position"
					},
			{
              "type": "text",
				"id": "button_text",
				"label": "button text"
            },
      {
              "type": "url",
				"id": "button_link",
				"label": "button link"
            },
			{
				"type": "image_picker",
				"id": "image",
				"label": "Image",
				"info": "2800 x 650 .jpg recommended."
			},
			{
				"type": "image_picker",
				"id": "mobile_image",
				"label": "Mobile image (optional)",
				"info": "375 x 650 .jpg recommended."
			},
    ],
    "presets": [
      {
        "name": "Image banner contain",
				
      }
    ]
  }
{% endschema %}